<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Cerrar sesión</a>
                    </li>
                </ul>
                <div class="card" style="width: 50rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{visita.parque}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Visitado por: {{visita.nombre_usuario}}</h6>
                        <p class="card-text">Fecha de visita: {{visita.fecha_visita}}</p>
                        <p class="card-text">Rating {{visita.rating}}</p>
                        <p class="card-text">Detalles: {{visita.detalles}}</p>
                        <p class="card-text">Me gusta: {{likes}}</p>
                        <form action="/like" method="post">
                            <input type="hidden" value="{{visita.id}}" name="visitas_id">
                            <input type="hidden" value="{{visita.usuarios_id}}" name="usuarios_id">
                            <button>Me Gusta</button>
                        </form>
                        
                    </div>
                </div>
            </div>


        </div>
</body>

</html>